* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(228, 249, 235);
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
    padding: 25px;
    max-width: 1280px;
    align-items: center;
    justify-content: center;
}

div#main-header {
    
    background: linear-gradient(to right, rgb(38, 137, 73),rgb(109, 197, 132) );
    padding-block: 10px;
    padding-inline: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    
}

#header-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 42px;
}

#weather-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 5;
    padding-block: 20px;
    padding-inline: 15px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.404);
}

#select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    background-color: white;
    flex: 1;
    padding-block: 20px;
    padding-inline: 15px;
    
    border-radius: 12px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.404);
}

#get-weather-btn {
    
    width: 250px;
    background-color: rgb(33, 112, 173);
    padding: 10px 20px;
    font-size: 18px;
    border-bottom: 2px solid rgb(24, 85, 132);
    border-right: 2px solid rgb(24, 85, 132);
    border-top: 2px solid rgb(75, 149, 205);
    border-left: 2px solid rgb(75, 149, 205);
    border-radius: 14px;
    font-family:Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-weight: bold;
}

#get-weather-btn:hover {
    cursor: pointer;
}

#get-weather-btn:active {
    cursor: pointer;
    background-color: rgb(34, 88, 130);
    transform: scale(0.99,0.99);
}

#weather-select {
    width: 300px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 14px;
    border: 0;
    background-color: rgb(201, 215, 222);
    
}

#location {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    color: rgb(244, 250, 250);
}

#primary-info {
    flex: 1;
    margin-block: 10px;
    display: flex;
    justify-content:space-between;
    padding: 10px 20px;
    align-items: center;
    background: linear-gradient(to right, rgb(32, 119, 150),rgb(137, 195, 194));
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.283);

}

#main-weather-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main-temperature {
    font-size: 48px;
    color: aliceblue;
}

#weather-icon {
    width: 75px;
}

#weather-main {
    color: aliceblue;
    font-size: 20px;
}

#sub-primary {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#secondary-info {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
}

#humidity-container {
    flex: 1;
    color: aliceblue;
    padding: 10px 20px;
    align-items: center;
    background: linear-gradient(to bottom, rgb(32, 150, 117),rgb(107, 171, 149));
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.283);
}

#wind-container {
    flex: 1;
    color: aliceblue;
    padding: 10px 20px;
    align-items: center;
    background: linear-gradient(to top, rgb(80, 135, 24),rgb(137, 196, 115));
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.283);
}

#wind-gust-container {
    flex: 1;
    color: aliceblue;
    padding: 10px 20px;
    align-items: center;
    background: linear-gradient(to left, rgb(150, 71, 32),rgb(190, 166, 114));
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.283);
}

#humidity,#wind,#wind-gust {
    font-size: 48px;
}

#feels-like-container {
    display: flex;
    font-size: 10px;
    gap: 2px;
    color: rgb(232, 244, 255);
}

@media only screen and (max-width:600px) {
    div#main-header {
        padding-inline: 20px;
        padding-block: 10px;
    }
    #header-title {
        font-size: 36px;
    }
}